:root {
    --primary-color: #8143fc;
    --hover-color: #7d3cff;
    --focus-color: #6c23fc;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #111111;
    margin-top: 48px;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container form {
    max-width: 450px;
    width: calc(100% - 8px);
    padding: 3rem 2rem;
    display: grid;
    align-items: baseline;
}

.not-supported {
    width: 400px;
    margin: 16px auto 8px;
    text-align: center;
    color: #ca0000;
    font-weight: 500;
}

/* Connection form */
h1 {
    text-align: center;
}

.connection {
    height: 400px;
}

.input-group {
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 16px;
}

input {
    transition: all 0.3s linear;
}

input:not([type="submit"]):not(.choices__input) {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin-bottom: 16px;
    border-bottom: 1px solid transparent;
}

input:focus {
    border-bottom: solid 1px var(--primary-color) !important;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(var(--primary-color), 0.45) !important;
}

form input:not([type="submit"]) {
    width: 100%;
}

.choices {
    display: inline-block;
    width: 100%;
    min-width: 350px;
}

.choices .choices__inner {
    width: 100% !important;
    border-bottom-left-radius: 0.4rem !important;
    border-bottom-right-radius: 0.4rem !important;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.choices .choices__list {
    border-top-left-radius: 0.4rem !important;
    border-top-right-radius: 0.4rem !important;
}

.save-btn,
input[type="submit"],
.btn-large {
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    padding: 12px 45px;
    cursor: pointer;
    user-select: none;
}

.save-btn:focus,
input[type="submit"]:focus,
.btn-large:focus {
    outline: none;
}

form input[type="submit"] {
    margin: 24px auto;
    text-transform: uppercase;
}

.save-btn:hover,
input[type="submit"]:hover,
.btn-primary:hover {
    background-color: var(--hover-color) !important;
}

.save-btn:focus,
input[type="submit"]:focus {
    background-color: var(--focus-color);
}

/* Editor */
.editor {
    width: 1028px;
    max-width: calc(100% - 20px);
    min-width: 850px;
    padding-top: 8px;
    padding-bottom: 32px;
}

.editor-actions {
    display: flex;
    justify-content: flex-end;
}

.editor > * {
    padding-left: 40px;
    padding-right: 40px;
}

/* Teams list */
.teams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 4rem;
    row-gap: 1.5rem;
}

.team {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.4rem;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team h4 {
    text-align: center;
    margin: 0;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    padding: 0.5rem;
}

.team ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5px 0;
}

li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    cursor: grab;
}

li::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 7.5px;
    margin-left: 10px;
    background: #ff2929;
    vertical-align: sub;
}

.online::after {
    background: #1eff1e;
}

.color-pick {
    padding: 8px !important;
    margin: 0 2px !important;
    cursor: pointer;
}

.scoreboard {
    display: block;
    /*font-family: Minecraftia;*/
    margin: 4px 0;
    padding: 4px 0;
    background: linear-gradient(#6b85b3 60%, #7e91b3 70%);
    color: #ffffff;
    font-size: 0.85em;
    white-space: nowrap;
    border: solid #000 1.5px;
}

.scoreboard div {
    display: inline;
}

.scoreboard:focus {
    outline: none;
}

/* Actions */
.actions {
    display: flex;
}

.actions i:first-child {
    margin-left: auto;
}

i {
    width: 16px;
    height: 16px;
    margin: 0.25rem;
    display: block;
    cursor: pointer;
}

/*i.add {
    background-image: url(img/add-outline.svg);
}

i.edit {
    background-image: url(img/edit-pencil.svg);
}

i.remove {
    background-image: url(img/trash.svg);
}

i.user-add {
    background-image: url(img/user-add.svg);
}*/

/* Rules */

.rules {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

label[data-info] {
    border-bottom: dashed 1px rgba(0, 0, 0, 0.3);
    cursor: help;
    position: relative;
}

label[data-info]::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 22px;
    left: 0;
    opacity: 0;
    font-size: 13px;
    font-weight: 500;
    min-width: 160px;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    pointer-events: none;
    text-align: justify;
    /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
    z-index: 10;
}

label[data-info]::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    opacity: 0;
    width: 0;
    height: 0;
    border: solid transparent 5px;
    border-bottom-color: rgba(0, 0, 0, 0.9);
    transition: opacity 250ms, top 250ms;
}

label[data-info]:hover {
    z-index: 2;
}

label[data-info]:hover::after,
label[data-info]:hover::before {
    opacity: 1;
}

label[data-info]:hover::after {
    top: 30px;
}

label[data-info]:hover::before {
    top: 20px;
}

.rules input[type="number"] {
    width: 70px;
    border-radius: 0.4rem;
}

.rules #DayDuration {
    width: 100px;
}

.rules #ChargedCreepers {
    border-radius: 0.4rem;
}

/* Utilities */
.invisible {
    display: none !important;
}

.save-btn {
    margin-top: 16px;
    margin-left: auto;
    display: block;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s both;
}

.modal button {
    border-radius: 4px;
    padding: 8px 24px;
    margin: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal .btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.modal-wrapper {
    width: 400px;
    margin-top: 9%;
    max-width: calc(100vw - 24px);
    max-height: calc(100vh - 24px);
    padding: 24px;
    background-color: #fdfdfd;
    text-align: center;
    border-radius: 4px;
    animation: slideFromTop 0.3s both 0.1s;
}

.modal-wrapper .actions {
    display: flex;
    justify-content: end;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideFromTop {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}
